#cloud-config

# vim: syntax=yaml

#

# ***********************

# 	---- for more examples look at: ------

# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html

# ******************************

#

# This is the configuration syntax that the write_files module

# will know how to understand. encoding can be given b64 or gzip or (gz+b64).

# The content will be decoded accordingly and then written to the path that is

# provided.

#

# Note: Content strings here are truncated for example purposes.

ssh_pwauth: True

chpasswd:

  list: |

     root:sesamo

  expire: False



users:

  - name: robertomolina

    ssh_authorized_keys:

      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCyie4ClO+J3CfGxWN8zMEJQvzMowslRSNM8iqknbxjNg2H8e32GoI8AaBWxb+uiRV8ihQzPEGFx8YfsgsmlIuWAC2cybLSyi97d+GZ21Bkze8Yv2wBwVNdvBhlr8fFJi0gW2on7/2b7/S78bQpzIU6z5qug6uEUia5ljLOsgceA+aMY+jtAbJ956kkLB1ro049TIEg+JXuYvwuwdmL2VuZRTF46F49Xkd6T0cWfQOCUcIDMDaWIvTZAWo26gm0E6zRLyYoSnfLuY20EjYHrilrrmkBPa7U/S/i3B+wWsLWjgBai7fqnRXnu1tN57UdR7QiubbtzqaOd0mAkoLcSSmr robertomolina@roberto

    sudo: ['ALL=(ALL) NOPASSWD:ALL']

    shell: /bin/bash

    groups: sudo

    lock_passwd: false
